* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  cursor: default;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #0c1022;
  color: var(--text-color);
  margin-top: 0;
  cursor: none;
  overflow: hidden;
  overflow-y: auto;
}


footer {
  z-index: 1000;
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #1e3b72;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}


.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover,
.download:hover {
  background: none;
  border-bottom: 2px solid #04f60b;
  color: #0ef;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home-content {
  display: flex;
}

.home-info {
  width: 800px;
}

.home-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  scale: 1.5;
}

.glowing-circle {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: floatImage 2s ease-in-out infinite;
}

.glowing-circle span:nth-child(1) {
  position: absolute;
  width: 160px;
  height: 160px;
  background: linear-gradient(45deg, rgb(51, 0, 255), #3cf);
  border-radius: 50%;
  filter: blur(10px);
  animation: circleRotate 3s linear infinite;
}

.glowing-circle .image {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  z-index: 1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #0c1022;
}

.about img {
  display: block;
  margin: 0 auto;

}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}


.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0c1022;
  padding: 2rem;
  text-align: center;
}

.about-info {
  display: flex;
  flex-direction: row-reverse;
}

.about .about-image {
  scale: 1.5;
}

.about-content {
  max-width: 800px;
  margin-top: 2rem;
  text-align: center;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.skil {
  text-align: center;
  padding: 20px;
}

.skil h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: white;
}

.skil marquee i {
  font-size: 2em;
  margin: 0 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.skil marquee i:hover {
  color: #007bff;
  transform: scale(1.2);
}

.skil {
  text-align: center;
  padding: 20px;
}

.skil h1 {
  font-size: 4em;
  margin-bottom: 20px;
  color: white;
}

.skil marquee {
  display: inline-block;
  width: 100%;
  font-size: 3em;
  color: greenyellow;
}

.skil img {
  color: greenyellow;
}

.skil i {
  font-size: 2em;
  margin: 0 45px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.skil i:hover {
  color: #007bff;
  transform: scale(1.2);
}

.portfolio {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0c1022;
}

.portfolio h2 {
  margin-top: 1rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.portfolio-box {
  width: 400px;
  padding: 1rem;
  text-align: center;
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: .3s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .3s ease;
  /* Faster transition */
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.content h2 {
  margin-bottom: 3rem;
}

.content span{
  margin-left: 1.5rem;
  color: #0ef;
}

.content form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.content form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content form .input-box input,
.content form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.content form .input-box input {
  width: 49%;
}

.content form textarea {
  resize: none;
}

.content form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 1rem;
}

.footer-icontop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5rem ease;
}

.footer-icontop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-icontop a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.footer-icontop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--bg-color);
  border-radius: .8rem;
  transition: .5rem ease;
  margin-left: auto;
}

.footer-icontop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-text {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}


.footer-icontop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}


.multiple-text {
  color: #0ef;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem;
  }

  section {
    height: 100vh;
    padding: 3rem;
  }

  .footer {
    padding: 2rem;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-info {
    width: 100%;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio,
  .content {
    height: auto;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
  }

  .portfolio-box {
    width: auto;
  }

}

@media (max-width:768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;

  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0%;

  }

  .home {
    display: flex;
    flex-direction: column;
  }

  .content form .input-box input,
  .content form textarea {
    color: var(--text-color);
    background-color: var(--bg-color);
  }

}

@keyframes cursor-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {

  /* Tablets and smaller laptops */
  .container {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {

  /* Mobile devices */
  .container {
    padding: 10px;
  }

  .home-img {
    justify-content: center;
  }
}



@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}